@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root {
    --primary: #8031f6;
    --primary-alt: #8a74a6;
    --secondary: #06bee1;
    --secondary-alt: #e4e4e4;
    --bg: #0e0a14;
    --regular: 'Nunito', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.space {
    background-image: url("space.jpg");
    background-size: cover;
    height: 100%;
    padding: 2%;
    width: 80%;
    z-index: -4;
    margin: 0 auto;
    max-width: 1500px;
}
.hero {
    background: var(--bg);
    height: 95vh;
    width: 100%;
    max-width: 1200px;
    max-height: 1000px;
    position: relative;
}
.container02 {
    width: 100%;
    max-width: 1200px;
    position: relative;
    padding: 1vw;
}
.main {
    position: relative;
    background: white;
    top: 95vh;
    left: -12px;
    height: 95vh;
    width: 101.8%;
    z-index: 3;
}
.hero {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "des squares" "turquoise turquoise" "voir squares2";
    font-family: var(--regular);
    font-size: 4vh;
    color: var(--primary-alt);
    font-weight: bold;
}
.intro--des {
    width: 100%;
    height: 95%;
    z-index: 3;
    grid-area: des;
    font-family: var(--regular);
    font-size: 4vh;
    color: var(--primary-alt);
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 5vw;
}
.intro--turquoise {
    background-color: var(--secondary);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    grid-area: turquoise;
    padding-left: 5vw;
}
.intro--turquoise div {
    color: white;
}
.intro--voirprojets {
    width: 100%;
    height: 100%;
    grid-area: voir;
    font-family: var(--regular);
    font-size: 4vh;
    color: var(--primary-alt);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5vw;
    justify-content: center;
}
.intro--squares {
    grid-area: squares;
    height: 100%;
    width: 100%;
}
.intro--squares2 {
    grid-area: squares2;
    height: 100%;
    width: 100%;
}
.accent {
    color: var(--primary);
    font-style: normal;
}
.voirplus {
    position: relative;
    width: 9vh;
    height: 9vh;
    border: none;
    background-image: url("triangle.png");
    background-position: center;
    background-size: cover;
    margin-top: 1vw;
    margin-left: 10vh;
}
.voirplus:hover {
    transform: scale(1.13);
    transition: all 300ms;
}
@media screen and (max-width: 575px) {
    .voirplus {
        margin-left: 0px;
   }
}
.allthesquares {
    position: absolute;
    background-image: url("squares.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 48%;
    height: 100vh;
    width: 55%;
    transform: scale(0.9);
}
@media screen and (max-width: 1600px) {
    .allthesquares {
        left: 30%;
        top: -20%;
        height: 130vh;
        width: 100%;
        transform: scale(0.4);
   }
}
@media screen and (min-height: 900px) {
    .allthesquares {
        transform: scale(0.5);
        left: 30%;
        top: -20%;
        height: 130vh;
        width: 100%;
   }
}
@media screen and (max-width: 1200px) {
    .allthesquares {
        display: none;
   }
    .voirplus {
        margin-left: 0px;
   }
}
.card {
    border-radius: 0%;
    padding: 1.2vw;
    font-family: var(--regular);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card .card-header {
    height: 30vw;
    max-height: 320px;
    width: 100%;
    max-width: 600px;
}
.card iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.card-block {
    padding: 1vw;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
}
.card--noctis {
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--secondary);
    color: white;
}
.card--aqua {
    display: flex;
    flex-direction: row;
    background-color: var(--primary);
    color: white;
}
.card--necromanciae {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    flex-direction: row;
}
.card--necromanciae .card-block {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}
.everything-in-da-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
img {
    width: 100%;
    height: 100%;
}
.swiper-container {
    width: 500px;
    height: 300px;
}
.swiper-container img {
    width: 100%;
    height: 100%;
}
.swiper-button-prev {
    color: rgba(255, 255, 255, 0);
    padding: 30px;
    background-image: url("triangle.png");
    background-position: center;
    background-size: cover;
    transform: rotate(90deg);
    width: 8vh;
    height: 8vh;
    margin-left: -130px;
    border: none;
}
.swiper-button-prev:hover {
    transform: scale(1.13) rotate(85deg);
    transition: all 300ms;
}
.swiper-button-next {
    color: rgba(255, 255, 255, 0);
    padding: 30px;
    background-image: url("triangle.png");
    background-position: center;
    background-size: cover;
    transform: rotate(-90deg);
    width: 8vh;
    height: 8vh;
    margin-right: -130px;
    border: none;
}
.swiper-button-next:hover {
    transform: scale(1.13) rotate(-85deg);
    transition: all 300ms;
}
.card--petales {
    display: flex;
    flex-direction: row;
    background-color: rgba(128, 49, 246, 0);
    color: var(--primary);
}
.card--dessin {
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--secondary);
    color: white;
}
.card--dessin h2 {
    font-size: 4vh;
}
.card--dessin .dessin-img {
    width: 100%;
    height: 136%;
    top: -17%;
    border: solid white 10px;
    position: relative;
    background-image: url("dessins.png");
    background-size: cover;
    background-position: center;
}
.card--dessin a {
    color: var(--primary);
}
.begone {
    color: white;
}
.begone:hover {
    color: white;
}
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--regular);
}
.contact h2 {
    font-size: 4vh;
    color: var(--primary);
}
.contact p {
    color: var(--secondary-alt);
    font-size: 2vh;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--regular);
    background-color: white;
    padding: 2vw;
    color: var(--secondary);
}
.footer .voirplus2 {
    position: relative;
    width: 9vh;
    height: 9vh;
    border: none;
    background-image: url("triangle.png");
    background-position: center;
    background-size: cover;
    margin-top: 1vw;
    transform: scale(1) rotate(180deg);
}
.footer .voirplus2:hover {
    transform: scale(1.13) rotate(180deg);
    transition: all 300ms;
}

@media screen and (max-width: 1000px) {
    .card {
        display: flex;
        align-items: center;
        flex-direction: column;
   }
    .card--dessin .dessin-img {
        width: 100%;
        height: 100%;
        top: 0%;
        border: none;
   }

   .card .card-header {
    height:50vw;

}
    .swiper-container {
        width: 55vw;
        height: 35vw;
   }
    .swiper-button-prev {
        display: none;
   }
    .swiper-button-next {
        display: none;
   }
    .space {
        width: 100%;
   }
}
